<%= form_with(model: hint, local: true) do |form| %>
  <% if hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hint.errors.count, "error") %> prohibited this hint from being saved:</h2>

      <ul class="error_explanation__list">
      <% hint.errors.full_messages.each do |message| %>
        <li class="error_explanation__list-element"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field create-hint__div create-hint__order">
    <%= form.label :order, "Hint number", :class => 'create-hint__inputfield create-hunt__form-heading' %>
    <%= form.text_field :order, :class => 'create-hint__textarea', placeholder: "e.g. 1" %>
  </div>

  <div class="field create-hint__div create-hint__location-name">
    <%= form.label :location_name, "Hint location", :class => 'create-hint__inputfield create-hunt__form-heading' %>
    <%= form.text_field :location_name, :class => 'create-hint__textarea', placeholder: "e.g. Behind a tree..." %>
  </div>

  <div class="field create-hint__div create-hint__latitude">
  <%= form.label :latitude, :class => 'create-hint__inputfield create-hunt__form-heading' %>
  <%= form.text_field :latitude, :class => 'create-hint__textarea', :id => 'latitude', placeholder: "e.g. 47.72373" %>
  </div>

  <div class="field create-hint__div create-hint__longitude">
    <%= form.label :longitude, :class => 'create-hint__inputfield create-hunt__form-heading' %>
    <%= form.text_field :longitude, :class => 'create-hint__textarea', :id => 'longitude', placeholder: "e.g. 13.086596" %>
  </div>

  <div class="field create-hint__div create-hint__text">
    <%= form.label :text, "Hint text", :class => 'create-hint__inputfield' %>
    <%= form.text_area :text, :class => 'create-hint__textarea create-hunt__form-heading create-hint__style-textarea', placeholder: "e.g. You will find the next clue in a place..." %>
  </div>

  <div class="field hidden">
    <%= form.label :hunt_id %>
    <%= form.hidden_field :hunt_id %>
  </div>

  <div class="actions-button field create-hint__createBtn">
    <%= form.submit :class => 'button create-hint__submitBtn' %>
  </div>


<div id="map" class="create-hint__div"></div>
<% end %>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
      
 <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
             integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin=""></script>

<script>
  let lat = document.getElementById('latitude').value
  let lng = document.getElementById('longitude').value

  if (lat.length == 0 && lng.length == 0) {
    // set default value if user want to add a new hint -> default value: position of FH Salzburg
    lat = 47.723730
    lng = 13.086596
  }

  var map = L.map('map').setView([lat, lng], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // set edit hint location in
  L.marker([lat, lng]).addTo(map)
    .bindPopup(`Current hint: ${lat}, ${lng}`)
    .openPopup();

var popup = L.popup();

function onMapClick(e) {
    var lat = ""
    var lng = ""

		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
      .openOn(map);

    document.getElementById('latitude').value = e.latlng.lat
    document.getElementById('longitude').value = e.latlng.lng
  }
  map.on('click', onMapClick)
</script>