<main class="main-hunts-index">
<h1 class="hints-index__h1"><%= Hunt.find(@hunt_id).name %> Hints</h1>

<section class="hints-index__section">
<p class="hints-index__instructions"> *The hint number represents the order of the hints in this Scavenger hunt. </p>

<div class="hints-index__titles">
<h2 class="hints-index__title-order">Hint number:</h2>
<h2 class="hints-index__title-location-name">Hint location:</h2>
</div>

<ul>
<div id="hints" class="list-group ui-sortable" data-url="<%= sort_hints_path %>">
<% @hints.each do |hint| %>
  <li class="hints-index__list-element" id=<%= dom_id(hint) %>>
    <p class="hints-index__order"><%= hint.order %></p>
    <p class="hints-index__location-name"><%= hint.location_name %></p>

    <%= link_to image_tag('editBtn.svg'), edit_hint_path(hint, :hunt_id => @hunt_id), class: "hints-index__edit-button" %>
    <%= link_to image_tag('deleteBtn.svg'), hint, method: :delete, data: { confirm: 'Are you sure?' }, class: "hints-index__delete-button" %>
    </li>  
<% end %>
</div>
</ul>

<div class="create-hint__new-hint-btn">
<%= link_to 'Back', edit_hunt_path(Hunt.find(@hunt_id)), class: "button create-hint__backBtn-hint-overview" %>
<%= link_to 'New Hint', new_hint_path(:hunt_id => @hunt_id), class: "button" %>
</div>

</section>
</main>