<%= form_with(model: hunt, local: true) do |form| %>
  <% if hunt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hunt.errors.count, "error") %> prohibited this hunt from being saved:</h2>

      <ul class="error_explanation__list">
      <% hunt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="create-hunt__name create-hunt__div">
    <%= form.label :name, class: 'create-hunt__form-heading' %>
    <%= form.text_field :name,  :maxlength => 30, placeholder: "Easter egg hunt" %>
  </div>

  <div class="create-hunt__code create-hunt__div">
      <%= form.label :winning_code, "Winning treasure code", class: 'create-hunt__form-heading' %>
      <%= form.text_field :winning_code,  :maxlength => 20, placeholder: "e.g. CongratsWinner124"  %>
    </div>
  
  <div class="create-hunt__start-date create-hunt__div">
    <%= form.label :start_date, class: 'create-hunt__form-heading' %>
    <%= form.date_field :start_date %>
  </div>
  
  <div class="create-hunt__expiry-date create-hunt__div">
    <%= form.label :expiry_date, class: 'create-hunt__form-heading' %>
    <%= form.date_field :expiry_date %>
  </div>
  

  
  <div class="create-hunt__time-limit create-hunt__div js-hunt-form-set-time-limit visibility-visible">
    <%= form.label "Set time limit (hh:mm)", class: 'create-hunt__form-heading ' %>
    <%= form.time_field :set_time_limit, value: "00:00" %>
  </div>
  

  <div class="create-hunt__no-time-limit create-hunt__div">
    <%= form.label :no_time_limit, class: 'create-hunt__form-heading' %>
    <%= form.check_box :no_time_limit, class: 'js-hunt-form-no-time-limit-checkbox' %>
  </div>
  <%= form.submit "Save Hunt and add Hints", :class => 'button create-hunt__submit-button' %>

  <% end %>

