<p id="notice"><%= notice %></p>

<h1>Hunts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Expiry date</th>
      <th>Set time limit</th>
      <th>No time limit</th>
      <th>Winning code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hunts.each do |hunt| %>
      <tr>
        <td><%= hunt.name %></td>
        <td><%= hunt.start_date %></td>
        <td><%= hunt.expiry_date %></td>
        <td><%= hunt.set_time_limit %></td>
        <td><%= hunt.no_time_limit %></td>
        <td><%= hunt.winning_code %></td>
        <td><%= link_to 'Show', hunt %></td>
        <td><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
        <td><%= link_to 'Destroy', hunt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hunt', new_hunt_path %>
