<!-- <p id="notice"><%= notice %></p> -->
<%= render '/partials/header' %>
<main class="main-hunts-index">
        <h1>Your Scavenger Hunts</h1>
        <section class="hunts-index__section">
          <div class="hunts-index__titles">
              <h2 class="hunts-index__title-name">Name:</h2>
              <h2>Start date:</h2>
          </div>
          <ul>

            <% @hunts.each do |hunt| %>
              <li class="hunts-index__list-element">
                  <p class="hunts-index__hunt-name"><%= hunt.name %></p>
                  <p><%= hunt.start_date.to_date %></p>
                  <%= link_to image_tag('editBtn.svg'),  edit_hunt_path(hunt), class: "hunts-index__edit-button" %>
                  <%= link_to image_tag('deleteBtn.svg'),  hunt, method: :delete, data: { confirm: 'Are you sure?' }, class: "hunts-index__delete-button" %>
              </li>   
           <% end %>


            </ul>
            </section>
            </main>

